body
{
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
    display: flex;
    text-align: center;
    min-height: 100vh;
    background-image: url("img/newback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.container
{
    margin-right: 100px;
    width: 400px;
    height: 550px;
    background-color: transparent;
    float: right;


}
.form-group
{
    font-size: 10px;
}
